/*
ul#menu {

    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    background-color: #333;

}

li a {

    display: inline-block;
    font-family: "Shorelines Script Bold";
    font-size: 30px;
    text-align: center;
    color: white;
    text-decoration: none;
}

li a:hover{
    background-color: grey;
}

#section-hero {
    font-family: "Shorelines Script Bold";
    font-size: 40px;
}


*{
    box-sizing: border-box;
}

!* Create two equal columns that floats next to each other *!
.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 600px; !* Should be removed. Only for demonstration *!
}

!* Clear floats after the columns *!
.section-row:after {
    content: "";
    display: table;
    clear: both;
}

#aboutme{
    background-color: white;
    font-family: "Raleway";
}

p#aboutme{
    padding: 200px 300px 300px 200px ;

}
*/

.jumbotron {
    background-color: white !important;

}


.btn-primary-outline {
  font-family: Avenir;
  font-size: 13px;
  color: rgba(58, 133, 191, 0.75);
  letter-spacing: 1px;
  line-height: 15px;
  border: 2px solid rgba(58, 133, 191, 0.75);
  border-radius: 40px;
  background: transparent;
  transition: all 0.3s ease 0s;
}

h1{
    font-family: Avenir; !important;
    color: white; !important;
    font-size: 60px; !important;
    margin: auto 0;
    display: flex;
    text-align: center;
    width: 100%;
}

p {
    font-family: Avenir;
    color: black ;
}
#left-about {
    text-align: center !important;
}