{% load static %}
<html>
    <head>
        <Title>melosmurf</Title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
              integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
                integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    </head>

    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">

                <a href="{% url 'blog_home' %}">BLOG</a></li>
                <a href="{% url 'home' %}">HOME</a>
                <a href="{% url 'recipe_list' %}">HOMEMADE</a></li>
            </div>
        </nav>
            {% block content %}
            {% endblock content%}
        </div>

    </body>
</html>