{% load static %}
<html>
    <head>
        <title>melosmurf</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
              integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
                integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
        <meta charset="utf-8">

        <!--for carousel-->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
        <style>
            /* Make the image fully responsive */
            .carousel-inner img {
                width: 100%;
                height: 100%;
            }
        </style>
    </head>

    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">

                <a href="{% url 'blog_home' %}">BLOG</a></li>
                <a href="{% url 'home' %}">HOME</a>
                <a href="{% url 'recipe_list' %}">HOMEMADE</a></li>
            </div>
        </nav>
        <div class="jumbotron jumbotron-fluid" >
            <div class="container" id="aboutme" style="height: 400px;" >
                <h2>Food</h2>
                <h2>Travel</h2>
                <h2>Enthusiast</h2>

                <button type="button" class="btn-default"><a href="{% url 'aboutme'%}">About Me</a></button>
            </div>
        </div>
        <div class="container" id="blog_preview" style="height: 500px;" >
            <h1>Blogs</h1>
            <!--For lastest 3 blogs, preview here-->
            <div class="row">
                <div class="col-md-4">
                    <h1>post 1</h1>
                </div>
                <div class="col-md-4">
                    <h1>post 2</h1>
                </div>
                <div class="col-md-4">
                    <h1> post 3</h1>
                </div>
            </div>
        </div>

        <div class="section" id ="food_travel">

            <div id="demo" class="carousel slide" data-ride="carousel">

                <!-- Indicators -->
                <ul class="carousel-indicators">
                    <li data-target="#demo" data-slide-to="0" class="active"></li>
                    <li data-target="#demo" data-slide-to="1"></li>
                    <li data-target="#demo" data-slide-to="2"></li>
                </ul>

                <!-- The slideshow -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src=" {% static 'banners/bled.jpg' %} " height="400">
                        <div class="carousel-caption">
                        <!--  add button that links to recipe list page -->
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'foodbannerpics/currychicken.jpg' %}"  height="400">
                    </div>

                </div>

                <!-- Left and right controls -->
                <a class="carousel-control-prev" href="#demo" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#demo" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>

            <!--<h1>FOOD AND TRAVEL RECS</h1>-->

        </div>

        <div class="container" id="recipes_preview" style="height: 400px;">
            <!--display featured 3 recipes-->
            <h2>Featured Recipes</h2>
            <div class="row">
                <div class="col-md-4">
                    <h1>post 1</h1>
                </div>
                <div class="col-md-4">
                    <h1>post 2</h1>
                </div>
                <div class="col-md-4">
                    <h1> post 3</h1>
                </div>
            </div>

        </div>
    </body>

    <footer>
        <h4>Created, designed and built by Melody Lam</h4>
    </footer>

</html>