{% load static %}
<html>
    <head>
        <title>melosmurf</title>
        <!--for css file-->
        <link href="{% static 'css/style.css' %}" rel="stylesheet">

        <!--for bootstrap-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
              integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
                integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
        <meta charset="utf-8">

    </head>

    <body style="text-align: center">
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">

                <a href="{% url 'blog_home' %}">home</a></li>
                <a href="{% url 'home' %}">blog</a>
                <a href="{% url 'recipe_list' %}">food</a></li>
                <a href="{% url 'aboutme'%}">travel</a>
            </div>
    </nav>
        <div class="jumbotron jumbotron-fluid" style="margin-bottom: 0px">
            <div class="container" id="aboutme" style="height: 1100px;" >
                <h1>20</h1>
                <h1>Foodie</h1>
                <h1>Wanderlust</h1>
            </div>
        </div>

        <div class="container-fluid" id="blog" style="width: 100%; padding-left: 0px; padding-right: 0px;" >
            <div id="left-blog-bloc" style="float: left; width: 50%; height: 1100px; background-color: black;">
                <h1>blog.</h1>
            </div>
            <div id="right-blog-bloc" style="float: right; width:50%; height: 1100px; display: inline-block; background-color: white">

                <p>Bred in Hong Kong, roamed in Europe, now in the New York City for college. </p>
                <p>Always on the look for good books to read, fun projects to do,
                places to venture and genuine people for great conversations. Loves cooking and feeding her friends, but not
                eating her own food. </p>

            </div>

        </div>

        <div class="container-fluid" id="food" style="width: 100%; display: inline-block; padding-left: 0px; padding-right: 0px;" >
            <div id="left-food-bloc" style="float: left; width: 50%; height: 1100px;  display: inline-block;">
                <h1> contact left side lmao</h1>
            </div>
            <div id="right-food-bloc" style="float: right; width:50%; height: 1100px; display: inline-block; background-color: black;">
                <h1> contact right side lmao</h1>

            </div>

        </div>


        <div class="container-fluid" id="travels" style="width: 100%; display: inline-block; padding-left: 0px; padding-right: 0px;" >
            <div id="left-travel-bloc" style="float: left; width: 50%; height: 1100px;  display: inline-block; background-color: black;">
                <h1> contact left side lmao</h1>
            </div>
            <div id="right-travel-bloc" style="float: right; width:50%; height: 1100px; display: inline-block; background-color: white; ">
                <h1> contact right side lmao</h1>

            </div>

        </div>

    </body>

    <footer>
        <h4>Created, designed and built by Melody Lam</h4>
    </footer>

</html>